{{#*inline "page"}}
<article class="prose dark:prose-invert pt-6 max-w-5xl mx-auto">
    <h1 class="underline">{{ post.title }}</h1>
    <div class="text text-zinc-500 font-bold">
      {{ post.formatted_date }} · <a href="{{{ post.profile_url }}}" target="_blank">{{{ post.author }}}</a>
    </div>
    <div class="mt-6">  
      {{{ post.content }}}
    </div>    
</article>
{{/inline}}

{{> layout }}
